footer span.ribbon-inner ul {
background-color: #7c334f;
margin: 0px;
}
footer span.ribbon-inner ul a {
font-size: 9px;
}
#adjust-theme {
position: fixed;
top: 4px;
right: 19px;
color: white;
background: red;
padding: 3px 5px;
font-weight: bold;
border-radius: 8px;
}
.hidden{display:none}
.shadowed {
opacity: .1;
}
.shadowed:hover {
opacity: 1;
}
#theme_panel {
position: absolute;
top: 0px;
right: 200px;
width: 50%;
background: white;
z-index:100;
}

#theme_panel button {
float: right;
border: none;
padding: 3px 5px;
color: white;
background: red;
border-radius: 9px;
font-size: 10px;
}
